
<div class="page-explanation round">
<h1>About</h1>
<p>We seek to streamline the entire travel planning process by aggregating planes, trains, buses and ferry timetables and integrating them with existing mapping and local public transportation services to obtain more accurate pricing and route suggestion in one easy to use interface. The idea is that you should be able to enter your start address, ending address, and get an accurate price accounting based on the distance of the consumer to the point of departure. We are in the initial stages of forming the necessary partnerships with Global Distribution Systems and other Online Travel Agencies to get up-to-date data.</p>
</div>
